<a href="https://colab.research.google.com/github/kwak-dong-su/python-data/blob/master/colab_test_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
# csv파일을 colab linux에 업로드
# df로 읽어보세요.

In [124]:
# csv파일을 google drive에 업로드
# colab + google drive mount
# df2로 읽어보세요.

In [125]:
import pandas as pd
import numpy as np

In [126]:
df=pd.read_csv('/content/sample_data/lol_player.csv')
df

     rank           name  level  win
0       1        iiwandy     69  292
1       2        roookie     57  213
2       3           어상내하     48  129
3       4         nodfan     98  151
4       5  SwordArt77777     65  265
..    ...            ...    ...  ...
995   996    Ahriman LYH     92   92
996   997         Haojay     73  205
997   998      2020karsa     43   95
998   999       juiceqnq     53  131
999  1000      NS Haenam    373  603

[1000 rows x 4 columns]

In [127]:
from google.colab import drive

In [128]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [129]:
df2=pd.read_csv('/content/drive/MyDrive/python-data/scientists.csv')
df2

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [130]:
dates=pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [131]:
np.random.randn(6, 4)

array([[ 0.64927107, -0.50489513,  0.65763545, -0.98025795],
       [-1.05970238, -0.2076197 ,  1.57171306,  1.90679917],
       [ 0.95442579,  0.35823956, -0.42431891, -1.13041649],
       [-1.45234353, -1.95925329, -1.39250479, -0.89857191],
       [ 0.78329667, -0.46173173,  0.084388  ,  0.39090345],
       [-0.24036736, -0.13688745,  1.64889774,  1.05927582]])

In [132]:
df=pd.DataFrame(np.random.randn(6, 4), columns=['A','B','C','D'])
# df= pd.DataFrame(ndarray(values), columns=['컬럼명', '컬럼명'])
df

          A         B         C         D
0 -1.159874 -0.933593  2.457304 -0.617447
1  0.834710 -1.638447  0.273139 -1.371323
2 -0.215453  0.356950  0.285642  1.411029
3  0.458137  1.373348  0.364194  0.371056
4  0.950292  0.394151 -1.300877  0.919035
5  1.543840 -1.877744  1.477912 -1.066136

In [133]:
df2=pd.DataFrame(np.random.randn(6, 4), index=[dates] ,columns=['A','B','C','D'])
df2

                   A         B         C         D
2019-03-01  0.690034 -0.090274  1.540012 -2.417783
2019-03-02 -0.435320  0.258105  0.487661 -0.290147
2019-03-03 -0.365194 -1.004538 -1.269313 -1.018239
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-06  0.522114 -0.601212 -1.073734  0.090550

In [134]:
type(df2)

pandas.core.frame.DataFrame

In [135]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [136]:
df2.index

MultiIndex([('2019-03-01',),
            ('2019-03-02',),
            ('2019-03-03',),
            ('2019-03-04',),
            ('2019-03-05',),
            ('2019-03-06',)],
           )

In [137]:
in1=df2.index
in1

MultiIndex([('2019-03-01',),
            ('2019-03-02',),
            ('2019-03-03',),
            ('2019-03-04',),
            ('2019-03-05',),
            ('2019-03-06',)],
           )

In [138]:
in1[0]

(Timestamp('2019-03-01 00:00:00', freq='D'),)

In [139]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [140]:
in2=df.index
in2

RangeIndex(start=0, stop=6, step=1)

In [141]:
in2[2] 
#리스트를 가지고 만든 여러가지 객체들은 리스트처럼 똑같이 다루어도 크게 문제가 발생하지는 않는다.

2

In [142]:
ts1=in1[0]
ts1

(Timestamp('2019-03-01 00:00:00', freq='D'),)

In [143]:
str(ts1)

"(Timestamp('2019-03-01 00:00:00', freq='D'),)"

In [144]:
df['A']

0   -1.159874
1    0.834710
2   -0.215453
3    0.458137
4    0.950292
5    1.543840
Name: A, dtype: float64

In [145]:
a=df['A']
a

0   -1.159874
1    0.834710
2   -0.215453
3    0.458137
4    0.950292
5    1.543840
Name: A, dtype: float64

In [146]:
a[0]

-1.1598736105245238

In [147]:
a[1]

0.8347095261048056

In [148]:
df2.values

array([[ 0.69003396, -0.09027357,  1.54001159, -2.4177833 ],
       [-0.43531969,  0.25810512,  0.48766069, -0.29014696],
       [-0.36519358, -1.00453803, -1.26931278, -1.01823861],
       [-0.13795562,  0.06410312,  0.31961104, -0.05674795],
       [ 1.36632461, -0.29653156, -0.05478008,  0.08728898],
       [ 0.52211377, -0.60121171, -1.07373388,  0.09054983]])

In [149]:
df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.273334 -0.278391 -0.008424 -0.600846
std    0.708410  0.463109  1.046732  0.981796
min   -0.435320 -1.004538 -1.269313 -2.417783
25%   -0.308384 -0.525042 -0.818995 -0.836216
50%    0.192079 -0.193403  0.132415 -0.173447
75%    0.648054  0.025509  0.445648  0.051280
max    1.366325  0.258105  1.540012  0.090550

In [150]:
df2.sort_index(ascending=False)

                   A         B         C         D
2019-03-06  0.522114 -0.601212 -1.073734  0.090550
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-03 -0.365194 -1.004538 -1.269313 -1.018239
2019-03-02 -0.435320  0.258105  0.487661 -0.290147
2019-03-01  0.690034 -0.090274  1.540012 -2.417783

In [151]:
df2.sort_values(by='A', ascending=False)

                   A         B         C         D
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-01  0.690034 -0.090274  1.540012 -2.417783
2019-03-06  0.522114 -0.601212 -1.073734  0.090550
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-03 -0.365194 -1.004538 -1.269313 -1.018239
2019-03-02 -0.435320  0.258105  0.487661 -0.290147

In [152]:
df3=df2.copy()
df3

                   A         B         C         D
2019-03-01  0.690034 -0.090274  1.540012 -2.417783
2019-03-02 -0.435320  0.258105  0.487661 -0.290147
2019-03-03 -0.365194 -1.004538 -1.269313 -1.018239
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-06  0.522114 -0.601212 -1.073734  0.090550

In [153]:
# df3를 B로 정렬해주세요!
# df3의 내용이 변경되어야 합니다.
# 변경된 df3에서 b, c만 추출하여 df4로 저장
# df3의 첫번째 행, 첫번째 열의 값을 1로 수정
# df3에서 0행에서 2행까지 추출
# df3에서 2019-03-01, A열의 값을 추출
# df3에서 2019-03-01, A열, B열의 값을 추출
# df3에서 A열의 전체 행을 추출
# df3에서 A, C열의 전체 행을 추출
# df3에서 0번 행렬 추출
# df3의 행렬의 크기를 추출
# df3에서 5행 전체 전체 열 추출
# df3에서 4행부터 추출
# df3에서 0, 3행, 1부터 2열까지 추출
# df3에서 1,2,5행, 1,3열 추출

In [154]:
df3=df3.sort_values(by='B')
df3

                   A         B         C         D
2019-03-03 -0.365194 -1.004538 -1.269313 -1.018239
2019-03-06  0.522114 -0.601212 -1.073734  0.090550
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-01  0.690034 -0.090274  1.540012 -2.417783
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-02 -0.435320  0.258105  0.487661 -0.290147

In [155]:
df4=df3.loc[:,['B', 'C']].copy()
df4

                   B         C
2019-03-03 -1.004538 -1.269313
2019-03-06 -0.601212 -1.073734
2019-03-05 -0.296532 -0.054780
2019-03-01 -0.090274  1.540012
2019-03-04  0.064103  0.319611
2019-03-02  0.258105  0.487661

In [156]:
df3.iloc[0,0]=1
df3

                   A         B         C         D
2019-03-03  1.000000 -1.004538 -1.269313 -1.018239
2019-03-06  0.522114 -0.601212 -1.073734  0.090550
2019-03-05  1.366325 -0.296532 -0.054780  0.087289
2019-03-01  0.690034 -0.090274  1.540012 -2.417783
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-02 -0.435320  0.258105  0.487661 -0.290147

In [168]:
df3.iloc[0:3,:]  #df3.iloc[c추출범쉬] => 행으로 취급!

                   A         B         C         D
2019-03-03  1.000000 -1.004538 -1.269313 -1.018239
2019-03-06  0.522114 -0.601212 -1.073734  0.090550
2019-03-05  1.366325 -0.296532 -0.054780  0.087289

In [158]:
df3.loc[in1[0],'A']

0.6900339606493329

In [159]:
df3.loc[in1[0],['A', 'B']]

A    0.690034
B   -0.090274
Name: (2019-03-01 00:00:00,), dtype: float64

In [160]:
df['A'], type(df['A'])

0   -1.159874
1    0.834710
2   -0.215453
3    0.458137
4    0.950292
5    1.543840
Name: A, dtype: float64

In [176]:
df3.loc[:,['A', 'C']]
# loc, iloc의 결과가 1행인 경우, Series로 리턴
# loc, iloc의 결과가 여러행인 경우, DataFrame으로 리턴

                   A         C
2019-03-03  1.000000 -1.269313
2019-03-06  0.522114 -1.073734
2019-03-05  1.366325 -0.054780
2019-03-01  0.690034  1.540012
2019-03-04 -0.137956  0.319611
2019-03-02 -0.435320  0.487661

In [162]:
df3.iloc[0,0]

1.0

In [169]:
df3.shape

(6, 4)

In [164]:
df3.iloc[5,:]

A   -0.435320
B    0.258105
C    0.487661
D   -0.290147
Name: (2019-03-02 00:00:00,), dtype: float64

In [165]:
df3.iloc[4:,:]

                   A         B         C         D
2019-03-04 -0.137956  0.064103  0.319611 -0.056748
2019-03-02 -0.435320  0.258105  0.487661 -0.290147

In [166]:
df3.iloc[[0, 3], 0:2]

                   A         B
2019-03-03  1.000000 -1.004538
2019-03-01  0.690034 -0.090274

In [170]:
df3.iloc[[1, 2, 5], [0, 2]]

                   A         C
2019-03-06  0.522114 -1.073734
2019-03-05  1.366325 -0.054780
2019-03-02 -0.435320  0.487661

In [177]:
# A열을 추출하여 2번째 값을 추출
# A열과 C열을 추출하여 1번째 행, 1번째 열의 값을 추출

In [184]:
df3['A'][1]

0.5221137698012757

In [194]:
df3.loc[in1[0], ['A', 'C']]

A    0.690034
C    1.540012
Name: (2019-03-01 00:00:00,), dtype: float64